# setup paramaters for PyRIC via PyPi/pip install
include LICENSE CHANGES README.md TODO

# Include subdirectories
# note to self: even including recursive-include here, have to follow up by
# ensuring data (non .py) files are also referenced in setup.py
#recursive-include examples
recursive-include examples *.py
recursive-include docs *.pdf
recursive-include pyric/utils/data *.txt
recursive-include pyric/nlhelp *.help