# Include license, README, channels, device, pyw and user guide
include LICENSE README.md __init__.py channels.py device.py pyw.py PyRIC.pdf TODO RFI

# Include subdirectories
recursive-include lib net examples docs
recursive-include docs *.help